.basic01 {
    padding: 100px 0;
    /* padding이 상하 100px, 좌우0 */
    background: #f7f7f7;
    /* 배경색이 #f7f7f7 */
    text-align: center;
    /* 텍스트 중앙정렬 */
}

.basic01 h2 {
    font-size: 21px;
    /* 글씨 크기가 21px */
    font-weight: bold;
    /* 글씨가 bold체 */
    margin: 0 0 20px 0;
    /* margin이 상 0, 우 0, 하 20px, 좌 0 */
}

.basic01 p {
    font-size: 15px;
    /* 글씨 크기가 15px */
    margin: 0 0 30px 0;
    /* margin이 상 0, 우 0, 하 30px, 좌 0 */
}

.basic01 .container {
    display: flex;
    /* display를 수평구조로 변경 */
    gap: 30px;
    /* gap을 30px로 */
    width: 1200px;
    /* width를 1200px로 */
    margin: 0 auto;
    /* margin을 상하 0, 좌우 auto */
}

.basic01 .container img {
    max-width: 100%;
    /* max-width를 100% */
}

.basic01 figure {
    flex: 1;
}